@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Mukta:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Mukta", sans-serif;
}

#container {
  background-color: #8a2be2;
  height: 180vh;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
    background-color: white;
    width: 400px;
    padding-left: 26px;
    padding-top: 25px;
    margin-top: -90px;
    filter: drop-shadow(12px 18px 3px black) ;
}
h2 {
  background-color: #8a2be2;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 3px;
  color: rgb(255, 253, 254);
  
  
}
button {
  background-color: #b60afa;
  width: 350px;
  height: 30px;
  border: 2px solid black;
  border-radius: 4px;
}

